.filters-button {
  border: none;
  border-radius: 4px;
  color: $primary-text-color;
  background-color: $link-icon-background-color;
  padding: 6px 22px;
  font-size: 16px;
  line-height: 1.62;
  text-align: center;
  letter-spacing: 0.48px;
  font-weight: 500;
  cursor: pointer;
  transition: $transition-time-cubic;
  transition-property: background-color, color, box-shadow, outline;
  &:active,
  &:hover,
  &:focus {
    background-color: #2196f3;
    color: $third-text-color;
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.12), 0px 1px 2px rgba(0, 0, 0, 0.08),
      0px 3px 1px rgba(0, 0, 0, 0.1);
    outline: none;
    transition: $transition-time-cubic;
    transition-property: background-color, color, box-shadow, outline;
  }
}
.filters-item:not(:last-child) {
  margin-right: 8px;
}
.filters-list {
  @extend %flex-center;
  margin-bottom: 50px;
}
