footer {
  background-color: #2f303a;
}
.footer {
  &-form {
    @media screen and(min-width:1230px) {
      display: flex;
    }
  }
  &-list {
    @media screen and(min-width:768px) {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-around;
    }
    @media screen and(max-width:1230px) {
      text-align: center;
    }
    padding-bottom: 28px;
    align-items: baseline;
    padding-top: 60px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);
  }
  &-logo {
    display: block;
    margin-bottom: 20px;

    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 24px;
    line-height: 1.66;
    letter-spacing: 0.66px;
    color: $third-text-color;
  }
  &-address {
    display: block;
    margin-top: 8px;

    opacity: 0.6;
    color: $footer-text-color;
    transition: 250ms cubic-bezier(0.4, 0, 0.2, 1) color;
    &:hover,
    &:focus {
      color: $accent-color;
      transition: $transition-time-cubic color;
    }
  }
  &-link {
    border-radius: 50%;
    color: $third-text-color;
    background-color: rgba(255, 255, 255, 0.1);
    & .social-network-icon {
      fill: currentColor;
    }
  }
  &-social-network-icon {
    fill: currentColor;
  }
  &-social-network {
    justify-content: center;
    display: flex;
    & li:not(:last-child) {
      margin-right: 10px;
    }
  }
  &-email-input {
    color: #ffffff;
    padding-left: 16px;
    padding-top: 15px;
    padding-bottom: 15px;
    width: 450px;
    @media screen and(max-width:450px) {
      width: 100%;
    }
    @media screen and(min-width:1230px) {
      width: 358px;
    }
    height: 50px;
    background-color: transparent;
    border: 1px solid rgba(255, 255, 255, 0.3);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    margin-bottom: 20px;
    @media screen and(min-width:1230px) {
      margin-bottom: 0px;
      margin-right: 12px;
    }
  }

  &-submit {
    display: flex;
    margin-right: auto;
    margin-left: auto;
    justify-content: center;
    align-items: center;
    width: 200px;
    height: 50px;

    color: #ffffff;
    font-weight: bold;
    font-size: 16px;
    line-height: 1.875;
    letter-spacing: 0.96px;

    background-color: $accent-color;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    border: none;
    cursor: pointer;
    &-icon {
      margin-left: 10px;
    }
  }
}
address {
  @media screen and(max-width:1230px) {
    margin-bottom: 60px;
  }
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 1.7;
  letter-spacing: 0.42px;
  color: $third-text-color;
}
.join-us {
  margin-bottom: 60px;
  &-title {
    margin-bottom: 20px;

    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.49px;
    text-transform: uppercase;
    color: $third-text-color;
  }
}

.subscribe {
  font-size: 14px;
  font-weight: bold;
  line-height: 1.14;
  text-transform: uppercase;
  color: $third-text-color;
  margin-bottom: 20px;
  &-us-item {
    @media screen and(min-width:768px) and(max-width:1230px) {
      flex-basis: 100%;
    }
  }
}
.copyright {
  font-size: 12px;
  line-height: 2;
  letter-spacing: 0.36px;
  color: $footer-text-color;
  opacity: 0.4;
  text-align: center;
  margin-top: 18px;
  padding-bottom: 21px;
}
